/**
 * Author: Sanjay Sunil (D3VSJ)
 * License: MIT
 */

header h1 {
  display: inline-block;
  margin: 10px 0;
}
header + hr {
  margin: 10px 0;
}
#contacts p, 
#contacts p.lead{
  margin: 0;
}
.userAuth {
  display: block;
  margin: 20px 0 0;
}
.modal-header:last-child{
  border-bottom: 0;
}
.card {
  display: inline-block;
  margin: 1em;
  max-width: calc(25% - 2em);
}
#contacts {
  margin-left: -1em;
  margin-right: -1em;
  display: flex;
  flex-wrap: wrap;
}
.user-info {
  display: inline-block;
  margin: 0 0.5em;
}
.user-info img{
  display: inline-block;
  max-width: 2em;
}

.auth-true .authenticated,
.auth-false .unauthenticated {
  display: block;
}
.auth-true .unauthenticated,
.auth-false .authenticated {
  display: none;
}
